@import url('base.css');

:root {
    --indent: 1em;
    --aiidatree-icon-light: url('aiida-icon.svg');
    --aiidatree-icon-dark: url('aiida-icon.svg');
    --aiidatree-icon: var(--aiidatree-icon-dark);
}

[data-jp-theme-light="true"] .aiidatree-icon {
    --aiidatree-icon: var(--aiidatree-icon-light);
}

[data-jp-theme-light="false"] .aiidatree-icon {
    --aiidatree-icon: var(--aiidatree-icon-dark);
}

.aiidatree-icon {
    background-image: var(--aiidatree-icon);
    min-width: 20px;
    min-height: 20px;
    background-size: 20px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.jp-aiidatreeWidget {
    background: var(--jp-layout-color1);
    overflow: auto;
    color: var(--jp-ui-font-color1);
    /* This is needed so that all font sizing of children done in ems is
     * relative to this base size */
    font-size: var(--jp-ui-font-size1);
}

.filetree-toolbar {
    padding: 0px;
    border-bottom: none;
    height: auto;
    margin: var(--jp-toolbar-header-margin);
    box-shadow: none;
}

.filetree-toolbar .jp-ToolbarButtonComponent {
    padding: 0px 16px;
}

/* AiidaTreeWidget.buildHTMLTable */

.aiidatree-head {
    width: 100%;
    border-spacing: 0px;
    overflow: scroll;
}

.aiidatree-header {
    /* Chrome all / Safari all */
    -webkit-user-select: none;
    /* Firefox all */
    -moz-user-select: none;
    /* IE 10+ */
    -ms-user-select: none;
    border: var(--jp-border-width) solid var(--jp-border-color2);
    border-left: none;
    font-size: var(--jp-ui-font-size0);
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0px;
    padding: 8px 12px;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    /* text-align: left; */
}

.aiidatree-header.modified {
    border-right: none;
}

.aiidatree-first-column {
    text-align: left;
}

.aiidatree-item {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    text-align: center;
    padding-top: 2px;
    overflow: hidden;
    white-space: nowrap;
}

.aiidatree-item:hover {
    cursor: pointer;
    background-color: var(--jp-input-hover-background);
}

.aiidatree-item.selected {
    color: white;
    background: var(--jp-brand-color1);
}

.aiidatree-link-item .aiidatree-first-column {
    padding-left: 12px;
}

.aiidatree-link-incoming {
    color: var(--jp-content-font-color1);
}

.aiidatree-link-outgoing {
    color: var(--jp-content-font-color2);
}

.aiidatree-yaml {
    padding-left: 12px;
    overflow: scroll;
}

.aiidatree-process-select {
    float: right;
}

.aiidatree-threejs {
    min-height: 400px;
    width: 100%;
}

.d3-svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.d3-svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.d3-svg-container .labels {
    fill: var(--jp-content-font-color2);
}
